@use 'sass/partials/vars';
@use 'sass/partials/header';
@use 'sass/partials/mixins';
body {
  background-color: vars.$bg-color;
  h1 {
    color: whitesmoke;
    @include mixins.flexible();
    &:hover {
      color: red;
    }
  }
}
img {
  @include mixins.defaultBorder(20px);
}
